.SiteWrapper {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 25px;
  width: 100%;
}

.Home {
  margin: 0 auto;
  max-width: 640px;
}

.Home h1{
  text-align: center;
}

.WeatherInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.WeatherInfo_Image {
  flex-basis: 50%;
}

.WeatherInfo_Data {
  flex-basis: 50%;
}

.WeatherInfo_Data .CurrentTemperature .CurrentTemperatureTemp {
  font-size: 140px;
  font-weight: bold;
  line-height: 140px;
  margin: 0; /*browsers suck*/
}

.WeatherInfo_Data .CurrentTemperature .CurrentTemperatureLabel {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;

}

.OtherTemperatures p {
  font-size: 24px;
  line-height: 24px;
}
